#canvas {
  border: 1px solid black;
  float: left;
  width: 768px;
  height: 576px;
}

#instructions {
  float: left;
  background-color: white;
  border: 1px solid black;
  width: 200px;
}

#playarea {
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
}